@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid white; /* Add a border for visibility */
}

.screen-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.shop-container {
    flex: 1;
    height: 100vh;
    width: 25vw; /* Adjust the width as needed */
    padding: 25px;
}

.board-container {
    flex: 3;
    height: 100vh;
    width: 75vw; /* Adjust the width as needed */
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
}

.grid-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 25vw;
    gap: 20px; /* Adjust the gap between rows as needed */
}

.grid-row {
    display: flex;
    gap: 10px; /* Adjust the gap between squares as needed */
}

.square {
    width: 150px; /* Adjust the size of the squares as needed */
    height: 150px; /* Adjust the size of the squares as needed */
    background-color: #ccc; /* Adjust the background color as needed */
}

.square.selected {
    outline: 2px solid red;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #00aab3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition:
        background-color 0.3s ease,
        transform 0.2s ease;
}

.button:hover {
    background-color: #00ffb3;
    transform: translateY(-2px);
}

.button:active {
    background-color: #004080;
    transform: translateY(0);
}

/* Disabled state */
.button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    transform: none;
}

/* Optional: Add a box shadow for a more elevated look */
.button {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
